:root {
	--primary: #f3c200;
	--secondary: #9e7b08;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.main-container {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	display: grid;
	place-items: center;
}

.main-section {
	width: 90%;
	height: 70vh;
	max-height: 700px;
	max-width: 800px;
}