.main-section{
	place-self: center;
}

.main-section > h2 {
	text-align: center;
}

.main-section > form {
	display: grid;
	justify-items: center;
	gap: 10px;
	width: 100%;
}

.multi-player-form-card {
	width: 100%;
	max-width: 500px;
	height: 150px;

	display: grid;
	place-items: center;
	font-size: 1.2rem;
	font-weight: 600;
	letter-spacing: 3px;

	border: 1px solid var(--secondary);
}

.multi-player-form-card > input {
	display: none;
}

.multi-player-form-card > input:checked + label {
	background-color: var(--primary);
	color: white;
}

.multi-player-form-card > label {
	width: 100%;
	height: inherit;
	display: grid;
	place-items: center;
}

.multi-player-form-submit:disabled {
	background-color: rgb(194, 198, 198);
	color: rgb(135, 139, 139);
}
.multi-player-form-submit {
	cursor: pointer;
	width: 100%;
	max-width: 350px;
	margin: 3px auto;

	padding: 10px 5px;
	font-size: 1rem;
	letter-spacing: 3px;

	border: none;
	border-radius: 9px;
	background-color: var(--secondary);
	color: white;
}

.new-game-container > h2 {
	color: var(--secondary);
}
.game-code {
	display: block;
	width: fit-content;
	padding: 5px 10px;
	margin: 0 auto;
	font-size: 1.2rem;
	letter-spacing: 2px;

	border-bottom: 1px solid var(--secondary);
}
.game-room {
	border: 1px solid gray;
	margin-top: 20px;
	padding: 10px;
	text-align: center;
}
.room-member {
	display: inline-block;
	padding: 5px 10px;
	margin: 5px;

	border-radius: 5px;
	background-color: var(--secondary);
	color: white;
	width: fit-content;
}


.code-game-container {
	width: 90%;
	max-width: 500px;
}
.code-game-form {
	width: 100%;
}
.code-game-input {
	margin-block: 10px;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.code-game-input > label {
	margin-bottom: 5px;
	color: var(--secondary);
	letter-spacing: 1px;
	font-size: 1.2rem;
}
.code-game-input > input {
	padding: 5px;
	border-radius: 8px;
	font-size: 1rem;
	border: 1px solid var(--secondary);
}
.code-game-form > button {
	width: 100%;
	padding: 5px;
	font-size: 1rem;
	border-radius: 9px;
	background-color: var(--secondary);
	color: white;
	border: none;

	cursor: pointer;
}